@font-face{
    font-family: font-primary;
    src: url(../Fonts/MADE_TOMMY_Black_PERSONAL_USE.otf) format("opentype");
}

@font-face{
    font-family: font-secondary;
    src: url(../Fonts/OpenSans-Bold.ttf) format("truetype");
}

$color-primary: #54DE62;
$color-secondary: #9C9F9C;
$font-primary: font-primary;
$font-secondary: font-secondary;
$color-bg: #141414;
$font-extra-large: 6rem;
$font-large: 2.5rem;
$font-medium: 1.2rem;
$font-small: 1rem;

@media (min-width){
    
}