@import 'config';

.dekstop-starting-page{
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }

    &__heading{
        font-size: $font-extra-large - 1.5rem;
    }
}

.desktop-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;

    
    .fa-arrow-left, .fa-arrow-right{
        color: $color-secondary;
        font-size: $font-large;

    }
    
    .arrow{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 40%;
       
    }

    &__img-container{
        position: absolute;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s ease;
        transform: translateX(-120%);
        top: 30%;
        
    }

    &__img-price-container{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__img1{
        display: flex;
        background-image: url(../Images/g1.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 80vw;
        height: 90%;
    }

    &__price{
        text-align: center;
        color: $color-primary;
        font-size: $font-large;
        font-family: $font-primary;
    }

}



