.conf-table__mascot{
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

svg{
    width: 200px;
    height: 200px;
}

#noga-desna{
    animation: mahanje-noge 1s alternate infinite;
    transform-origin: 50% 50% ;
}

@keyframes mahanje-noge{
    0% {
        transform: rotate(8deg);
    }
    
    100% {
        transform: rotate(-6deg);
    }
} 

#noga-leva{
    animation: mahanje-noge2 1s alternate infinite;
    transform-origin: 50% 50% ;
}

@keyframes mahanje-noge2{
    0% {transform: rotate(-8deg);
    }
    
    100% {
        transform: rotate(15deg);
    }
} 

@media (max-width: 768px){
    svg{
        width: 100px;
        height: 100px;
    }
}



